body,
button,
input {
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
    font-weight: bolder;
    font-size: 35px;
}

.hint {
    font-size: medium
}

body {
    margin-inline: 10svw;
}

button, input[type="submit"]{
    border: none;
    background-color: #FE11A5;
    color: white
}

input[type="submit"] {
    margin-top: 1em;
    width:100%
}

button:hover, input[type="submit"]:hover {
    box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
}

.logo {
    height: 0.8em;
}

#map {
    height: 80svh;
    z-index: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

.draggable {
    cursor: move;
}

.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0 0 0 / 65%);
}

.modal__container {
    width: 80svw;
    height: 80svh;
    overflow-y: auto;
    padding: 30px;
    background-color: white;
    border-radius: 4px;
    display: grid;
    grid-template-areas: "header" "content";
    grid-row-gap: 0.5em;
}

.modal__header {
    grid-area: header;
}

.modal__header>h1 {
    display: inline;
    margin-left: 1em;
}

.modal__header>button {
    position:fixed
}

.modal__content {
    grid-area: content;
    overflow-y:scroll
}

li {
    list-style-type: none;
    margin: 20px;
}

input[type="search"] {
    margin-top: 1em;
}

input[type="range"] {
    vertical-align: middle;
    accent-color: #fe11a5;
    max-width: 80vw;
}

.location {
    float: right;
}

.name {
    float: left
}

.system-btn {
    width: 75svw
}

@media only screen and (width <= 768px) {
    .modal__container {
        width: auto;
        background-color: white;
        border-radius: 4px;
        position: absolute;
        inset: 5px
    }

    title, h1{
        font-size: 10svw
    }

    h1 {
        display:block
    }

    ul {
        padding: 0
    }

    li {
        list-style-type: none;
    }

    input[type="search"] {
        width: 100%
    }
}