body, button, input {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.hint {
    font-size: medium
}

body {
    margin-inline: 10vw;
}

button {
    border:none;
    background-color: #FE11A5;
    color: white
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

.logo {
    height: 1em;
}

#map {
    height: 80%;
    z-index: 0;
    margin-top: 1em;
    margin-bottom: 1em;
}
.draggable { cursor: move; }

.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.65);
}

.modal__container {
    width: 80%;
    height: 80%;
    overflow-y: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 4px;
}

li {
    list-style-type: none;
    margin:20px;
}

input[type=search] {
    margin:20px
}

input[type=range] {
    vertical-align: middle;
    accent-color: #fe11a5;
}

.location {
    float: right;
}
.name {
    float:left
}
.system-btn {
    width:100%
}